@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

:root{
  --dorado: #E5D07B;
  --vino-oscuro: #4D012B;
  --vino-medio: #63032E;
  --vino-claro: #7A4044;
  --rosa-oscuro: #C39393;
  --rosa-claro: #CCB1B3;
  --blanco: #FFFFFF;
}

body {
  font-family: 'Roboto', sans-serif;  
}
/*--------------------------------------- NAV -----------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/

.navbar {
  background: var(--vino-oscuro);
  box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.navbar-brand {
  color: rgb(248,255,247);
  font-weight: 700;
  font-size: 40px;
}

.user, .cart {
  color:rgb(248,255,247); 
  text-decoration: none;
  transition: all 0.4s ease;
}

.brand-dorada, 
.navbar-toggler {
  color:var(--dorado);
}

.nav-link, 
.brand-cava {
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 700;
  color:rgb(248,255,247);
}

.nav-link:hover,
.brand-cava:hover,
.user:hover,
.cart:hover {
  color:var(--dorado);
}

.custom-toggler.navbar-toggler {
  border-color: rgb(248,255,247);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(229,208,123)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*--------------------------------------------- NUESTROS VINOS -----------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

.contenedor-cepas{
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1%;
}

.background-tintos, 
.background-blancos, 
.background-rosados {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display:inline-block;
  position:relative;
  
}

.background-tintos img, 
.background-blancos img, 
.background-rosados img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: ease-in .4s;
}

.background-tintos > div, 
.background-blancos > div, 
.background-rosados > div {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  padding:10px;
  margin:0;
  
}

.background-tintos > div p, 
.background-blancos > div p, 
.background-rosados > div p {
  color: var(--vino-oscuro);
  font-size: 100px;
  font-family: 'Poiret One', cursive;
}

.background-tintos img:hover, 
.background-blancos img:hover, 
.background-rosados img:hover {
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

/*--- CARDS TINTOS / BLANCOS / ROSADOS ---*/

.home-icon img{
  position:absolute;
  width: 50px;
  margin: 15px;
}
.cabecera-vinos{
  text-align: center;
  background-color: var(--vino-oscuro);
  padding: 26px;
}

.cabecera-vinos a{
  text-decoration: none;
  margin-left: 100px ;
  margin-right: 100px;
}

.cabecera-vinos a p{
  display: inline;
  font-family: 'Poiret One', cursive;
  color: var(--rosa-claro);
  font-size: 40px;
  transition: all 0.6s;
 }

 .cabecera-vinos a p:hover{
  border-radius: 18px;
  border: 2px solid var(--rosa-claro);
  padding: 10px;
  opacity: 0.5;
 }

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 26%);
  /* auto-fill= cantidad de columnas, 240px= tamaño de la columna*/
  margin: 40px 0px 40px;
  gap: 40px;
  /*Espacio entre cards*/
  place-content: center;
}

.product-card {
  width: 100%;
  background-color: var(--blanco);
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card > img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.product-info {
  overflow: hidden;
  text-align: center;
}

.product-info > p{
  font-family: 'Poiret One', cursive;
  color: var(--vino-oscuro);
  font-size: 2vw;
  margin-bottom: 16px;
  margin-top: 16px;
  line-height: 34px;
}

.info-grid{
  display: flex;
  justify-content: center;
}

.btn-cards {
  width: 30%;
  background-color: var(--vino-oscuro);
  padding: 6px;
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif; 
  color: var(--blanco);
  margin: 5px 10px 20px 10px;
  transition: 0.2s all;
}

.btn-cards:hover{
  background-color: var(--rosa-oscuro);
  color: var(--vino-oscuro);
  border-radius: 18px;
}

.modal-body{
  font-family: 'Montserrat', sans-serif;
  line-height: 5;
  }


  
/* -----------------------------------SECCION NOVEDADES Y RESERVA RESTO--------------------------------*/
/* -----------------------------------SECCION NOVEDADES Y RESERVA RESTO--------------------------------*/

.modal-novedades {
  text-align: justify;
  text-align: center;
}

.card-title-novedades {
  text-align: center;
  color: #7A4044;
  font-family: 'Playfair Display', serif;
  font-weight: bold;

}

.card-text-novedades {
  text-align:justify;
  font-family: 'Playfair Display', serif;
  font-weight: bold;


}

.btn-resto  {
  margin-left: 30%;
 border-radius: 6px;
 
 
}


.contenedor-cards-novedades {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
margin-top: 5px;
margin-bottom: 20px;}

.card-novedades {
  box-shadow: 13px 19px 4px -9px rgba(0,0,0,0.25);
}

.modal-header {
  background-color:#CCB1B3 ;
}

.carousel-resto {
  max-width: 100%;
  margin-top: 8px;
 

}

.seccion-restaurant {
display: flex;
margin-top: 20px;
} 

.resto {
  background-color:#CCB1B3 ;
  text-align: center;
  text-justify: auto;
}

.texto-resto {
  margin-top: 50px;
  
}

.texto-resto h1 {
  margin-bottom: 20px;
  color: cornsilk;
  font-family: 'Dancing Script', cursive;
  font-size:60px ;

}
.texto-resto p {
  text-align:justify;
  margin-left: 20px;
  margin-right: 20px;
  font-size:18px;
  font-family: 'Playfair Display', serif;

}

.btn-resto {
  margin-top: 150px;
}

@media only screen and (min-device-width: 320px) and (max-width: 767px) {
  .texto-resto h1 {
      font-size: 50px;
      color: black;
  }

  .resto {
      max-width: 100%;
  }
  .seccion-restaurant {
      display: block;
      
    } 

    .contenedor-cards-novedades {
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
  margin-top: 10px;}


}

@media only screen and (min-device-width: 768px)  and (max-width: 1281px) {
  .seccion-restaurant {
      display: block;
    } 

    .resto {
      max-width: 100%;
  }
  .contenedor-cards-novedades {
      display: flex;
      flex-direction: row;
      align-content: center;
      flex-wrap: nowrap;
  margin-top: 10px;}
 
}

/* ----------------------------------- FIN SECCION NOVEDADES Y RESERVA RESTO--------------------------------*/
/* ----------------------------------- FIN SECCION NOVEDADES Y RESERVA RESTO--------------------------------*/
/*-------------------------------------SECCION CABALGATA----------------------------------------------------*/
   .mapa{
    margin-top: 25px;
    margin-bottom: 25px;
   }
/*---------------------------------------FIN SECCION CABALGATA----------------------------------------------*/

/* ----------------------------------- SECCION FORMULARIO RESERVA--------------------------------*/


#contact-form{
	max-width:82%;
    height: 90%;
	padding:25px;
	border-radius:10px;
	margin:auto;
	background-color:#CCB1B3 ;
   
}

.titulo-reserva{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
}

.contenedor {
  display: flex;
    
}

#comentario {
    width: 30%;
    max-height: 60%;
    
}

label {
    margin-left:9px ;
    margin-right: 9px;
    font-family: 'Playfair Display', serif;
    
}

input {
    border-radius:10px;
    border: none;
    
}

#cantidad{
    
    width: 35px;
}

.actividad {
    border-radius:10px;
    border: none;
}

.datos {
    display: flex;
    align-items: center;
    margin-bottom:15px ;
}

.reserva {
    display: flex;
    align-items: center;
    
}

.comentario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



 textarea {
    resize:none;	
    width: 500px;
    overflow:hidden;
    border-radius: 10px;
    border: none;
 }

 .boton-reserva {
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    margin-top: 5px;
 }
 
 @media only screen and (min-device-width: 320px) and (max-width: 767px) {
    .contenedor {
        display: block;
    }

    .datos{
        display: block;
        
    }
     
    input {
        margin-bottom: 20px;
        border-radius: 3px;
        
    }
    .reserva {
        display: block;
        align-items: center;
        
    }

    .actividad {
        margin-bottom: 15px;
        border-radius: 3px;
    }

    
 }


 @media only screen and (min-device-width: 768px)  and (max-width: 1281px) {

    .contenedor {
        display: block;
    }

    .datos{
        display: block;
        margin-bottom: 5px;
    }
     
    input {
        margin-bottom: 20px;
        border-radius: 3px;
        
    }
   

 
    .reserva {
        display: flex;
        
        
    }

    .actividad {
        margin-bottom: 15px;
        border-radius: 3px;
    }

 }

/* ----------------------------------- FINFORMULARIO RESERVA--------------------------------*/


/* ----------------------------------- INICIO MODAL NEWSLETTER--------------------------------*/

.modal-newsletter {	
  color: #9f9f9f;
  width: 525px;
  margin: 30px auto;
  font-size: 15px;
}		
.modal-newsletter .modal-content {
  padding: 40px 50px;
  border-radius: 1px;		
  border: none;
}
.modal-newsletter .modal-header {
  border-bottom: none;   
      position: relative;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.modal-newsletter h4 {
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin: 0;		
  text-transform: uppercase;
}	
.modal-newsletter .close {
  position: absolute;
  top: -25px;
  right: -35px;
  color: #c0c3c8;
  text-shadow: none;
  opacity: 0.5;
  font-size: 26px;
  font-weight: normal;
}
.modal-newsletter .close:hover {
  opacity: 0.8;
}
.modal-newsletter .form-control, .modal-newsletter .btn {
  min-height: 46px;
  text-align: center;
  border-radius: 1px; 
}
.modal-newsletter .form-control {
  box-shadow: none;
  background: #f5f5f5;
  border-color: #d5d5d5;
}
.modal-newsletter .form-control:focus {
  border-color: #ccc;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
  .modal-newsletter .btn {
      color: #fff;
  background: #353535;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
  padding: 6px 20px;
      border: none;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  }
.modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
  background: #171717;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.modal-newsletter .form-group {
  padding: 0 20px;
  margin-top: 30px;
}

.hint-text {
  margin: 100px auto;
  text-align: center;
}

/* ----------------------------------- FIN MODAL NEWSLETTER--------------------------------*/























/******************************* RESPONSIVE ********************************/
/***************************************************************************/

/*============================== PHONE ==============================*/
@media only screen and (min-device-width: 320px) and (max-width: 767px){

/*----------------NUESTROS VINOS----------------------*/
  .cabecera-vinos h1{
      font-size: 30px;
  }

  .background-tintos, 
  .background-blancos, 
  .background-rosados {
      height: 25vh;
      
  }

  .background-tintos img, 
  .background-blancos img, 
  .background-rosados img {
      opacity: 0.6;
  }

  .background-tintos > div p, 
  .background-blancos > div p, 
  .background-rosados > div p {
      font-size: 70px;
      font-family: 'Poiret One';
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, 94%);
    /* auto-fill= cantidad de columnas, 240px= tamaño de la columna*/
    gap: 20px;
    /*Espacio entre cards*/
  }

  .product-info p{
    font-size: 60px;
    line-height: 50px;
  }

  .btn-cards {
    width: 100px;
    margin: 0%;
    font-size: 30px;
}
/*---------------------//----------------------------*/


}



/*============================== TABLET ==============================*/
@media only screen and (min-device-width: 768px)  and (max-width: 1281px){

/*----------------NUESTROS VINOS----------------------*/
  .cabecera-vinos{
    padding: 0px;
  }

  .cabecera-vinos a p{
    display: block;
    font-size: 30px;
    margin: 0px;
  }
  .background-tintos, .background-blancos, .background-rosados {
      height: 30vh;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, 40%);
    /* auto-fill= cantidad de columnas, 240px= tamaño de la columna*/
    gap: 50px;
    /*Espacio entre cards*/
  }

  .product-info p{
    font-size: 40px;
    line-height: 30px;
  }

/*-----------------------//---------------------------*/


}   

/*--------------------contacto---------------------*/

.contact {
  color:var(--vino-oscuro);
}

.etiqueta {
  color:#828385;
}
#contact .btn-primary {
  border: 1px solid var(--vino-oscuro);
  background: var(--vino-oscuro);
  color: var(--blanco); 
  font-size: 20px;
}

#contact .btn-primary:hover {
  background-color: var(--dorado)!important;
  border: 1px solid var(--blanco);
  color: var(--vino-oscuro);
}

.form-control:focus {
  border-color: var(--dorado);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--dorado);
}

.b-img {
 background-image: url(../assets/img/contacto/cata.jpg);
 background-position: center;
 background-size: cover;
}
/*--------------------//---------------------*/

/* -----------------------------------SECCION NOVEDADES Y RESERVA RESTO--------------------------------*/
/* -----------------------------------SECCION NOVEDADES Y RESERVA RESTO--------------------------------*/

.modal-body p {
  text-align: justify;
}

.card-title {
  text-align: center;
  color: #7A4044;
  font-family: 'Playfair Display', serif;
  font-weight: bold;

}

.card-text {
  text-align:justify;
  font-family: 'Playfair Display', serif;
  font-weight: bold;


}

.btn-resto {
  margin-left: 30%;
 border-radius: 6px;
 
}


.contenedor-cards-novedades {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
margin-top: 10px;}

.card {
  box-shadow: 13px 19px 4px -9px rgba(0,0,0,0.25);
}

.modal-header {
  background-color:#CCB1B3 ;
}

.carousel-resto {
  max-width: 100%;
 

}

.seccion-restaurant {
display: flex;
} 

.resto {
  max-width: 50%;
  background-color:#CCB1B3 ;
  text-align: center;
  text-justify: auto;
}

.texto-resto {
  margin-top: 50px;
  
}

.texto-resto h1 {
  margin-bottom: 20px;
  color: cornsilk;
  font-family: 'Dancing Script', cursive;
  font-size:60px ;

}
.texto-resto p {
  text-align:justify;
  margin-left: 20px;
  margin-right: 20px;
  font-size:18px;
  font-family: 'Playfair Display', serif;

}

@media only screen and (min-device-width: 320px) and (max-width: 767px) {
  .texto-resto h1 {
      font-size: 50px;
      color: black;
  }

  .resto {
      max-width: 100%;
  }
  .seccion-restaurant {
      display: block;
      
    } 

    .contenedor-cards {
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
  margin-top: 10px;}


}

@media only screen and (min-device-width: 768px)  and (max-width: 1281px) {
  .seccion-restaurant {
      display: block;
    } 

    .resto {
      max-width: 100%;
  }
  .contenedor-cards {
      display: flex;
      flex-direction: row;
      align-content: center;
      flex-wrap: nowrap;
  margin-top: 10px;}
 
}

/* ----------------------------------- FIN SECCION NOVEDADES Y RESERVA RESTO--------------------------------*/
/* ----------------------------------- FIN SECCION NOVEDADES Y RESERVA RESTO--------------------------------*/



















/*--------------------footer---------------------*/

.footer {
  background: rgb(239,237,233);
  color:var(--vino-oscuro);
}

.footer a {
  color:var(--vino-oscuro);
  font-size: 1.5rem;
  transition: all 0.4s ease;
}

.footer a:hover {
  color: var(--dorado);
}

.br-footer {
  font-size: 24px;
  font-weight: 500;
}

.contact-details a {
  font-size: 14px;
  text-decoration: none;
}

.sub-cont {
  font-size: 10px;
}

/*--------------------//---------------------*/
/*--------------------Carrito---------------------*/

